@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.wrapper {
  width: 100vw;
}

.navbar-container {
  display: flex;
  /* margin: 0 6em; */
  width: 80vw;
  margin: 0 auto;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.logo-brand {
  text-decoration: none;
  color: #565387;
  font-size: 1.9rem;
}

.navbar-links {
  display: flex;
  position: relative;
  /* left: -150%; */
}


.link {
  margin-right: 1.5em;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(117, 117, 117);
  font-size: 1.3rem;
}

.menu-active {
  font-weight: bold;
  border-bottom: 1px solid #6d5cda;
  color: #6d5cda;
}

.link:hover,
.logo-brand:hover {
  color: #6d5cda !important;
}

#icon {
  color: rgb(58, 58, 58);
  font-size: 30px;
  cursor: pointer;
  display: none;
}


@media (max-width: 900px) {
  #icon {
    display: block;
  }
  .menu-active {
    border-bottom:  0;
  }

  .show:hover,
  .logo-brand:hover {
    color: #6d5cda;
  }

  .navbar-links {
    flex-direction: row;
    margin-left: 4em;
    top: 130px;
    text-align: center;
    width: 100%;
  }

  .link {
    display: none;
  }
  
  .show {
    display: block;
    margin-right: 1.5em;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(117, 117, 117);
    font-size: 1.3rem;
    line-height: 3.15rem;
    transition: 0.5s;
  }

  .navbar-container {
    height: 88px;
    align-items: flex-start;
    justify-content: center;
  }
  .navbar-links {
    margin-top: -90px;
  }
  .wrapper {
    margin-top: 1em;
  }

  .none {
    display: none;
    transition: .5s;
  }
}

@media (max-width: 450px) {
  .navbar-container {
    margin: auto 10px;
  }
}


/* ******************************Home css*************************************** */
/* ******************************Home css*************************************** */
/* ******************************Home css*************************************** */
/* ******************************Home css*************************************** */

.home-container {
  display: flex;
  margin: 2em 6em;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  font-family: 'Nanum Gothic', sans-serif;
}

span {
  font-family: 'Open Sans', sans-serif;
  color: #6d5cda;
  font-size: 51px;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
}

.left h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 51px;
 
}

.left p {
  font-size: 19px;
  margin-top: -15px;
  color: rgb(77, 77, 77);
}

.margin-top {
  margin-top: 5em;
}


@media (max-width: 1580px) {
  .left h1 {
    font-size: 55px;
  }
}


@media (min-width: 700px) {
  .home-heading {
    overflow: hidden;
    border-right: .10em solid #6d5cda;
    white-space: nowrap;
    letter-spacing: 2px;
    animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #6d5cda; }
  }
  
}

.right-img {
  width: 50%;
  text-align: right;
}

.right-img img {
  width: 670px;
  height: 570px;
}

.animation {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.btn-email-me {
  text-decoration: none;
  color: #6d5cda;
  border: 1px solid #6d5cda;
  padding: 10px 22px;
  border-radius: 28px;
  font-size: 18px;
  transition: 0.5s all;
}

.btn-email-me:hover {
  color: #fff;
  background-color: #595cf3;
 
}

@media (max-width: 1251px) {
  .left h1 {
    letter-spacing: 1px;
    font-size: 45px;
  }
  .left p {
    font-size: 17px;
  }
  .right-img img {
    width: 530px;
    height: 490px;
  }
}

@media (max-width: 1156px) {
  .left h1,
  span {
    letter-spacing: 0.5px;
    font-size: 42px;
  }
  .left p {
    font-size: 16px;
  }
  .right-img img {
    width: 520px;
    height: 450px;
  }
}

@media (max-width: 1024px) {
  .right-img {
    width: 470px;
    height: 520px;
  }
  .left {
    width: 480px;
    height: 150px;
  }
  .right-img img {
    width: 100%;
    height: 100%;
  }
  .home-container {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }

}




@media (max-width: 450px) {
  .left h1,
  span {
    font-size: 27px;
  }
  .left {
    text-align: center;
  }
}

.para-span {
  font-size: 19px;
  font-style: italic;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
}

@media (max-width: 400px) {
  .right-img img{
    width: 420px;
    height: 420px;
    text-align: center;
  }
}

@media (max-width: 370px) {
  .navbar-container {
    margin-left: 2em;
    padding-right: 2em;
    width: 100vw;
  }
  .navbar-links {
    z-index: 3;
  }
  .left {
    padding: 1em;
  }
  .left h1 {
    padding: 0.4em;
    font-size: 29px;
  }
}

/*****************About media query************************ */

@media (max-width: 1024px) {
 .about-left h1 {
   padding: 0.3em;
 }
 .about-img {
   height: 450px;
   width: 350px;
 }
}

@media (max-width: 500px) {
  .left p {
    font-size: 15px;
    padding: 2em;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .navbar-container {
    margin-bottom: 6em;
  }
  .home-container {
    text-align: center;
  }
  .about-left {padding: 2em;
    text-align: center;
  height: 450px;}
  .about-left h1 {
    font-size: 35px;
  }
  .about-left h1,
  .about-left p {
    margin-left: 2em;
  }
  .right-img img {
    width: 400px;
    height: 320px;
    padding-left: 1em;
  }
  .button {
    width: 100%;
    text-align: center;
  }
}

.about-h1 {
  font-size: 45px !important;
}
/* ***************************************SERVICES PAGE************************************** */
/* ***************************************SERVICES PAGE************************************** */
/* ***************************************SERVICES PAGE************************************** */
/* ***************************************SERVICES PAGE************************************** */

.services-container {
  text-align: center;
  margin: 1.25em 0;
}

.services-heading h1 {
  font-size: 31px;
  text-shadow: 1px 2px rgba(96, 127, 230, 0.3);
}

.services-card {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 2em;
}

.card-img-top {
  height: 240px;
}

.card {
  height: 430px;
}

.card-title {
  font-family: 'Merriweather', serif;
  font-size: 22px;
}

@media (max-width: 992px) {
  .services-card {
    flex-wrap: wrap;
  }
}

@media (max-width: 380px) {
  .services-card {
    padding-left: 1em;
  }
  .card {
    height: 458px;
  }
  .navbar-container {
    height: 100px;
  }
}

/* ***************************************CONTACT PAGE****************************************/
/* ***************************************CONTACT PAGE****************************************/
/* ***************************************CONTACT PAGE****************************************/
/* ***************************************CONTACT PAGE****************************************/


.contact-heading h1 {
  text-align: center;
  text-shadow: 1px 2px rgba(96, 127, 230, 0.3);
  font-size: 35px;
  padding: 1em;
}

.form-container {
  width: 55%;
  margin: 0 auto;
}

.btn-space {
  margin: 10px 0;
  background-color: #fff;
}

label {
  margin: 5px 0;
}


.form-control:focus {
  border-color: rgba(102, 151, 243, 0.8);
  box-shadow: 0 1px 1px rgba(96, 123, 246, 0.075) inset, 0 0 8px rgba(121, 100, 236, 0.6);
  outline: 0 none;
}

@media (max-width: 800px) {
  .form-container {
    width: 70%;
  }
}

@media (max-width: 688px) {
  .navbar-container {
    /* padding: 0 3em; */
    margin: auto;
  }
  .navbar-links {
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  .contact-container {
    margin-top: 8em;
  }

  .contact-heading h1 {
    padding-bottom: 5px;
  }
}

@media (max-width: 400px) {
  .form-container {
    width: 90%;
    
  }
  .navbar-container {
    width: 100%;
  }
}


.contact-img {
  width: 400px;
  height: 250px;
  z-index: 1;
}

.contact-img-div {
  text-align: center;
}
